<!DOCTYPE html>
<html>
<head>
<title>About Us</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link href='http://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
	<div class="top-nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--shylock">
						<ul class="nav navbar-nav link-effect-7" id="link-effect-7">
							<li><a href="index.html" data-hover="Home">Home</a></li>
							<li class="active"><a href="about.html" data-hover="About Us">About Us</a></li>
							<li><a href="blog.html" data-hover="Blog">Blog</a></li>
							<li><a href="short-codes.html" data-hover="Short Codes">Short Codes</a></li>
							<li><a href="mail.html" data-hover="Mail Us">Mail Us</a></li>
						</ul>
					</nav>
				</div>
			</nav>	
		</div>	
	</div>	
<!-- //header -->
<!-- banner -->
	<div class="banner1">
		<div class="container">
			<div class="w3ls_logo w3ls_logo_about">
				<h1><a href="index.html">Cattle Farm</a></h1>
			</div>
		</div>
	</div>
<!-- //banner -->	
<!-- breadcrumbs -->
	<div class="agileits_breadcrumbs">
		<div class="container">
			<div class="agileits_breadcrumbs_left">
				<ul>
					<li><a href="index.html">Home</a><i>|</i></li>
					<li>About Us</li>
				</ul>
			</div>
			<div class="agileits_breadcrumbs_right">
				<h2>About Us</h2>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- about -->
	<div class="about">
		<div class="container">
			<h3 class="head"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>About Us</h3>
			<div class="w3_about_grids">
				<div class="col-md-6 w3_about_grid_left">
					<h5>Integer facilisis velit leo, vitae gravida</h5>
					<p>Suspendisse ornare sed purus a imperdiet. Integer viverra nisi orci, 
						in volutpat leo ornare vitae. Nulla faucibus, arcu at consequat vulputate, 
						turpis metus blandit urna, quis suscipit orci nibh nec est.</p>
					<div class="panel-group about_panel" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
						  <h4 class="panel-title asd">
							<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda est cliche voluptate
							</a>
						  </h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						  <div class="panel-body panel_text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque earum rerum
							</a>
						  </h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						   <div class="panel-body panel_text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem accusamus terry qui
							</a>
						  </h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						   <div class="panel-body panel_text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi sint cliche proident
							</a>
						  </h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						   <div class="panel-body panel_text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  </div>
						</div>
					  </div>
					</div>
				</div>
				<div class="col-md-6 w3_about_grid_right">
					<div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
						<div class="wmuSliderWrapper">
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<img src="images/11.jpg" alt=" " class="img-responsive" />
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<img src="images/12.jpg" alt=" " class="img-responsive" />
								</div>
							</article>
						</div>
					</div>
					<script src="js/jquery.wmuSlider.js"></script> 
						<script>
							$('.example1').wmuSlider();         
						</script> 
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //about -->
<!-- team -->
	<div class="team">
		<div class="container">
			<h3 class="head"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Meet Our Team</h3>
			<div class="agile_team_grids">
				<div class="col-md-3 agile_team_grid">
					<div class="agile_team_grid1">
						<img src="images/1.png" alt=" " class="img-responsive" />
						<div class="agile_team_grid1_pos">
							<a href="#" class="facebook1"></a>
						</div>
						<div class="agile_team_grid1_pos1">
							<ul>
								<li><a href="#" class="google1"></a></li>
								<li><a href="#" class="instagram1"></a></li>
							</ul>
						</div>
					</div>
					<h4>Daniel Paul <span>Farmer</span></h4>
					<p>Morbi placerat molestie felis. Integer facilisis velit leo.</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="agile_team_grid1">
						<img src="images/3.png" alt=" " class="img-responsive" />
						<div class="agile_team_grid1_pos">
							<a href="#" class="twitter1"></a>
						</div>
						<div class="agile_team_grid1_pos1">
							<ul>
								<li><a href="#" class="facebook1"></a></li>
								<li><a href="#" class="instagram1"></a></li>
							</ul>
						</div>
					</div>
					<h4>Mark Doe <span>Farmer</span></h4>
					<p>Morbi placerat molestie felis. Integer facilisis velit leo.</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="agile_team_grid1">
						<img src="images/2.png" alt=" " class="img-responsive" />
						<div class="agile_team_grid1_pos">
							<a href="#" class="google1"></a>
						</div>
						<div class="agile_team_grid1_pos1">
							<ul>
								<li><a href="#" class="instagram1"></a></li>
								<li><a href="#" class="twitter1"></a></li>
							</ul>
						</div>
					</div>
					<h4>John Crisp <span>Farmer</span></h4>
					<p>Morbi placerat molestie felis. Integer facilisis velit leo.</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="agile_team_grid1">
						<img src="images/4.png" alt=" " class="img-responsive" />
						<div class="agile_team_grid1_pos">
							<a href="#" class="instagram1"></a>
						</div>
						<div class="agile_team_grid1_pos1">
							<ul>
								<li><a href="#" class="facebook1"></a></li>
								<li><a href="#" class="twitter1"></a></li>
							</ul>
						</div>
					</div>
					<h4>Michael Carl <span>Farmer</span></h4>
					<p>Morbi placerat molestie felis. Integer facilisis velit leo.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //team -->
<!-- team-bottom -->
	<div class="team-bottom">
		<div class="container">
			<h3>Nulla faucibus, arcu at consequat vulputate, turpis metus blandit urna, 
				quis suscipit orci nibh nec est. Phasellus tempus augue turpis.</h3>
			<p class="dolor">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			<div class="more more1">
				<a href="mail.html" class="button button--nina button--size-s" data-text="Mail Us">
					<span>M</span><span>a</span><span>i</span><span>l</span> <span>U</span><span>s</span>
				</a>
			</div>
		</div>
	</div>
<!-- //team-bottom -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>About Us</h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="Send">
				</form>
			</div>
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Twitter Posts</h3>
				<ul class="w3agile_footer_grid_list">
					<li>Ut aut reiciendis voluptatibus maiores <a href="#">http://lkj.ewr.com</a> alias, ut aut reiciendis.
						<span>02 days ago</span></li>
					<li>Itaque earum rerum hic tenetur a sapiente delectus <a href="#">http://uiubajaj.com</a> ut aut
						voluptatibus.<span>03 days ago</span></li>
				</ul>
			</div>
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Social Media</h3>
				<ul class="agileinfo_social_icons">
					<li><a href="#" class="facebook"><span></span><i>-</i>Facebook</a></li>
					<li><a href="#" class="twitter"><span></span><i>-</i>Twitter</a></li>
					<li><a href="#" class="google"><span></span><i>-</i>Google+</a></li>
					<li><a href="#" class="instagram"><span></span><i>-</i>Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- copy-right -->
	<div class="w3agile_copy_right">
		<div class="container">
			 <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
		</div>
	</div>
<!-- //copy-right -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>