<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link href='http://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
	<div class="top-nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--shylock">
						<ul class="nav navbar-nav link-effect-7" id="link-effect-7">
							<li><a href="index.html" data-hover="Home">Home</a></li>
							<li><a href="about.html" data-hover="About Us">About Us</a></li>
							<li class="active"><a href="blog.html" data-hover="Blog">Blog</a></li>
							<li><a href="short-codes.html" data-hover="Short Codes">Short Codes</a></li>
							<li><a href="mail.html" data-hover="Mail Us">Mail Us</a></li>
						</ul>
					</nav>
				</div>
			</nav>	
		</div>	
	</div>	
<!-- //header -->
<!-- banner -->
	<div class="banner1">
		<div class="container">
			<div class="w3ls_logo w3ls_logo_about">
				<h1><a href="index.html">Cattle Farm</a></h1>
			</div>
		</div>
	</div>
<!-- //banner -->	
<!-- breadcrumbs -->
	<div class="agileits_breadcrumbs">
		<div class="container">
			<div class="agileits_breadcrumbs_left">
				<ul>
					<li><a href="index.html">Home</a><i>|</i></li>
					<li>Blog</li>
				</ul>
			</div>
			<div class="agileits_breadcrumbs_right">
				<h2>Blog</h2>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- blog -->
	<div class="blog">
		<div class="container">
			<div class="col-md-7 wthree_blog_left">
				<div class="wthree_blog_left_grid">
					<div class="wthree_blog_left_grid_slider">
						<a href="single.html"><img src="images/13.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<h4>Cattle Farm</h4>
					<h3><a href="single.html">facilisis velit vitae gravida imperdiet</a></h3>
					<ul>
						<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#">Jan Mark</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><a href="#">20</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">5</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Voluptatibus</li>
					</ul>
					<p>Duis venenatis, mi quis malesuada ultricies, nisi nisl posuere sapien,
						id egestas lectus urna et massa. Morbi mauris turpis, posuere auctor auctor 
						ornare, auctor nec lectus. Class aptent taciti sociosqu ad litora torquent 
						per conubia nostra, per inceptos himenaeos.</p>
					<div class="more more1">
						<a href="single.html" class="button button_single button--nina button--size-s" data-text="Learn more">
							<span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
						</a>
					</div>
				</div>
				<div class="wthree_blog_left_grid wthree_blog_left_grid1">
					<iframe src="https://player.vimeo.com/video/52980299"></iframe>
					<h4>Cattle Farm</h4>
					<h3><a href="single.html">Class aptent taciti sociosqu ad litora</a></h3>
					<ul>
						<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#">Michael Carl</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><a href="#">14</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">4</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Malesuada</li>
					</ul>
					<p>Duis venenatis, mi quis malesuada ultricies, nisi nisl posuere sapien,
						id egestas lectus urna et massa. Morbi mauris turpis, posuere auctor auctor 
						ornare, auctor nec lectus. Class aptent taciti sociosqu ad litora torquent 
						per conubia nostra, per inceptos himenaeos.</p>
					<div class="more more1">
						<a href="single.html" class="button button_single button--nina button--size-s" data-text="Learn more">
							<span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
						</a>
					</div>
				</div>
				<div class="wthree_blog_left_grid">
					<a href="single.html"><img src="images/14.jpg" alt=" " class="img-responsive" /></a>
					<h4>Cattle Farm</h4>
					<h3><a href="single.html">quis malesuada ultricies nisi posuere</a></h3>
					<ul>
						<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#">Williumson</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><a href="#">54</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">23</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Torquent</li>
					</ul>
					<p>Duis venenatis, mi quis malesuada ultricies, nisi nisl posuere sapien,
						id egestas lectus urna et massa. Morbi mauris turpis, posuere auctor auctor 
						ornare, auctor nec lectus. Class aptent taciti sociosqu ad litora torquent 
						per conubia nostra, per inceptos himenaeos.</p>
					<div class="more more1">
						<a href="single.html" class="button button_single button--nina button--size-s" data-text="Learn more">
							<span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-5 wthree_blog_right">
				<div class="w3ls_search">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Search on our blog" required="">
						<input type="submit" value=" ">
					</form>
				</div>
				<div class="w3l_categories">
					<h3>Categories</h3>
					<ul>
						<li><a href="single.html">Vitae gravida elit fringilla nec sociosqu</a></li>
						<li><a href="single.html">Morbi mauris turpis, posuere auctor auctor</a></li>
						<li><a href="single.html">Class aptent taciti sociosqu litora torquent</a></li>
						<li><a href="single.html">Duis venenatis, mi quis malesuada ultricies</a></li>
						<li><a href="single.html">Egestas lectus urna et massa morbi mauris</a></li>
						<li><a href="single.html">Torquent conubia nostra inceptos himenaeos</a></li>
						<li><a href="single.html">Urna et massa morbi mauris turpis, posuere</a></li>
					</ul>
				</div>
				<div class="agileinfo_tags">
					<h3>Tags</h3>
					<ul>
						<li><a href="single.html">Milk</a></li>
						<li><a href="single.html">Feed</a></li>
						<li><a href="single.html">Agriculture</a></li>
						<li><a href="single.html">Travel</a></li>
						<li><a href="single.html">Products</a></li>
						<li><a href="single.html">Health</a></li>
						<li><a href="single.html">Grass</a></li>
					</ul>
				</div>
				<div class="w3l_archives">
					<h3>Archives</h3>
					<ul>
						<li>2 August 2016</li>
						<li>14 August 2016</li>
						<li>23 August 2016</li>
						<li>8 September 2016</li>
						<li>18 September 2016</li>
					</ul>
				</div>
				<div class="w3agile_flickr_posts">
					<h3>Flickr Posts</h3>
					<div class="w3agile_flickr_post_left">
						<a href="single.html"><img src="images/1.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="w3agile_flickr_post_left">
						<a href="single.html"><img src="images/4.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="w3agile_flickr_post_left">
						<a href="single.html"><img src="images/3.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="w3agile_flickr_post_left">
						<a href="single.html"><img src="images/2.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="w3agile_flickr_post_left">
						<a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="w3agile_flickr_post_left">
						<a href="single.html"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
			<nav>
			  <ul class="pagination w3_paging">
				<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
				  <a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				  </a>
				</li>
			  </ul>
			</nav>
		</div>
	</div>
<!-- //blog -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>About Us</h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="Send">
				</form>
			</div>
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Twitter Posts</h3>
				<ul class="w3agile_footer_grid_list">
					<li>Ut aut reiciendis voluptatibus maiores <a href="#">http://lkj.ewr.com</a> alias, ut aut reiciendis.
						<span>02 days ago</span></li>
					<li>Itaque earum rerum hic tenetur a sapiente delectus <a href="#">http://uiubajaj.com</a> ut aut
						voluptatibus.<span>03 days ago</span></li>
				</ul>
			</div>
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Social Media</h3>
				<ul class="agileinfo_social_icons">
					<li><a href="#" class="facebook"><span></span><i>-</i>Facebook</a></li>
					<li><a href="#" class="twitter"><span></span><i>-</i>Twitter</a></li>
					<li><a href="#" class="google"><span></span><i>-</i>Google+</a></li>
					<li><a href="#" class="instagram"><span></span><i>-</i>Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- copy-right -->
	<div class="w3agile_copy_right">
		<div class="container">
			 <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
		</div>
	</div>
<!-- //copy-right -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>