<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
    <!-- //for-mobile-apps -->
    <link href="/front/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/front/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/front/css/flexslider.css" type="text/css" media="screen" property=""/>
    <!-- js -->
    <script type="text/javascript" src="/front/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/front/js/move-top.js"></script>
    <script type="text/javascript" src="/front/js/easing.js"></script>
    <script type="text/javascript" src="/front/js/wySilder.min.js"></script>


    <style type="text/css">
        .case {
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        .case li {
            list-style: none;
            float: left;
            padding: 5px;
            height: auto;
        }
    </style>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });

            $(".js-silder").silder({
                auto: true,//自动播放，传入任何可以转化为true的值都会自动轮播
                speed: 20,//轮播图运动速度
                sideCtrl: true,//是否需要侧边控制按钮
                bottomCtrl: true,//是否需要底部控制按钮
                defaultView: 0,//默认显示的索引
                interval: 2000,//自动轮播的时间，以毫秒为单位，默认3000毫秒
                activeClass: "active",//小的控制按钮激活的样式，不包括作用两边，默认active
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
<!-- header -->
<div class="top-nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav class="menu menu--shylock">
                    <ul class="nav navbar-nav link-effect-7" id="link-effect-7">
                        <li><a href="/" data-hover="首页">首页</a></li>
                        <li><a href="/service" data-hover="产品服务">产品服务</a></li>
                        <li><a href="/case" data-hover="客户案例">客户案例</a></li>
                        <li><a href="/knowledge" data-hover="科普知识">科普知识</a></li>
                        <li><a href="/about" data-hover="关于我们">关于我们</a></li>
                        <li class="active"><a href="contact" data-hover="联系我们">联系我们</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="js-silder">
    <div class="silder-scroll">
        <div class="silder-main">
            <div class="silder-main-img">
                <img src="/images/1.jpg" alt="">
            </div>
            <div class="silder-main-img">
                <img src="/images/2.jpg" alt="">
            </div>
            <div class="silder-main-img">
                <img src="/images/3.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- //banner -->

<!-- gallery -->
<div class="gallery">
    <div class="w3_gallery_grids">
        <div id="contact">

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //gallery -->
<!-- footer -->
<%include footer.ejs%>
<!-- //footer -->
<!-- for bootstrap working -->
<script src="/front/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    let txt = '<%= data ? data.txt : ""%>';
    $(document).ready(function () {
        $("#contact").html($.base64.decode(txt));
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<script type="application/javascript" src="/javascripts/jquery.base64.js"></script>
<!-- //here ends scrolling icon -->
</body>
</html>