<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="/front/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/front/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/front/css/flexslider.css" type="text/css" media="screen" property="" />
<!-- js -->
<script type="text/javascript" src="/front/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link href='http://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/front/js/move-top.js"></script>
<script type="text/javascript" src="/front/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
	<div class="top-nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--shylock">
						<ul class="nav navbar-nav link-effect-7" id="link-effect-7">
							<li class="active"><a href="index.html" data-hover="首页">首页</a></li>
							<li><a href="about.html" data-hover="案列展示">案列展示</a></li>
							<li><a href="blog.html" data-hover="荣誉资质">荣誉资质</a></li>
							<li><a href="short-codes.html" data-hover="关于我们">关于我们</a></li>
							<li><a href="mail.html" data-hover="联系我们">联系我们</a></li>
						</ul>
					</nav>
				</div>
			</nav>	
		</div>	
	</div>	
<!-- //header -->
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="w3ls_logo">
				<h1><a href="index.html">Cattle Farm</a></h1>
			</div>
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="w3l_banner_info">
								<h3>Fusce et egestas erat. Mauris eget iaculis magna, non gravida orci.</h3>
							</div>
						</li>
						<li>
							<div class="w3l_banner_info">
								<h3>Mauris eget iaculis magna, non gravida orci. Aenean nec odio quis.</h3>
							</div>
						</li>
						<li>
							<div class="w3l_banner_info">
								<h3>Aenean a dolor lobortis, luctus augue vel, ultrices lorem fermentum.</h3>
							</div>
						</li>
						<li>
							<div class="w3l_banner_info">
								<h3>Phasellus libero tellus, pulvinar vitae sem sit amet, faucibus neque.</h3>
							</div>
						</li>
						<li>
							<div class="w3l_banner_info">
								<h3>Vestibulum non erat ut odio euismod accumsan. Phasellus libero tellus.</h3>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<!-- flexSlider -->
				<script defer src="js/jquery.flexslider.js"></script>
				<script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
			  </script>
			<!-- //flexSlider -->
		</div>
	</div>
<!-- //banner -->
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-7 wthree_banner_bottom_left">
				<h2>Aenean id lectus tempus, dapibus urna ut, efficitur justo. Sed vel ornare elit.</h2>
			</div>
			<div class="col-md-5 wthree_banner_bottom_right">
				<div class="more">
					<a href="single.html" class="button button--nina button--size-s" data-text="Learn more">
						<span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
					</a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //banner-bottom -->
<!-- services -->
	<div class="services">
		<div class="container">
			<div class="col-md-4 agileits_service_grid">
				<div class="agileits_service_grid1">
					<span></span>
				</div>
				<h3>Etiam fringilla magna velit</h3>
				<p>Ut volutpat mi sit amet eros fermentum posuere. Sed mollis, tellus et imperdiet 
					aliquet, turpis ex tincidunt lectus.</p>
			</div>
			<div class="col-md-4 agileits_service_grid">
				<div class="agileits_service_grid2">
					<span></span>
				</div>
				<h3>amet eros fermentum posuere</h3>
				<p>Ut volutpat mi sit amet eros fermentum posuere. Sed mollis, tellus et imperdiet 
					aliquet, turpis ex tincidunt lectus.</p>
			</div>
			<div class="col-md-4 agileits_service_grid">
				<div class="agileits_service_grid3">
					<span></span>
				</div>
				<h3>Tellus et imperdiet turpis</h3>
				<p>Ut volutpat mi sit amet eros fermentum posuere. Sed mollis, tellus et imperdiet 
					aliquet, turpis ex tincidunt lectus.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //services -->
<!-- gallery -->
	<div class="gallery">
		<h3 class="head"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Our Cattle Farm</h3>
		<div class="w3_gallery_grids">
			<div id="jzBox" class="jzBox">
				<div id="jzBoxNextBig"></div>
				<div id="jzBoxPrevBig"></div>
				<img src="#" id="jzBoxTargetImg" alt=" " />
				<div id="jzBoxBottom">
					<div id="jzBoxTitle"></div>
					<span id="jzBoxMoreItems">
						<div id="jzBoxCounter"></div>
						<i class="arrow-left" id="jzBoxPrev"></i> 
						<i class="arrow-right" id="jzBoxNext"></i> 
					</span>
					<i class="close" id="jzBoxClose"></i>
				</div>
			</div>
					<div class="col-md-2 w3_gallery_grid">
						<a href="images/1.jpg" class="jzBoxLink" title="Cattle Farm">
							<img src="images/1.jpg" alt=" " class="img-responsive" />
						</a>
						<div class="w3_gallery_grid1">
							<h4>turpis tincidunt</h4>
							<p>Sed mollis, tellus et imperdiet aliquet, turpis.</p>
						</div>
					</div>
					<div class="col-md-2 w3_gallery_grid">
						<a href="images/2.jpg" class="jzBoxLink" title="Cattle Farm">
							<img src="images/2.jpg" alt=" " class="img-responsive" />
						</a>
						<div class="w3_gallery_grid1">
							<h4>imperdiet aliquet</h4>
							<p>Sed mollis, tellus et imperdiet aliquet, turpis.</p>
						</div>
					</div>
					<div class="col-md-2 w3_gallery_grid">
						<a href="images/3.jpg" class="jzBoxLink" title="Cattle Farm">
							<img src="images/3.jpg" alt=" " class="img-responsive" />
						</a>
						<div class="w3_gallery_grid1">
							<h4>mollis tellus turpis</h4>
							<p>Sed mollis, tellus et imperdiet aliquet, turpis.</p>
						</div>
					</div>
					<div class="col-md-2 w3_gallery_grid">
						<a href="images/5.jpg" class="jzBoxLink" title="Cattle Farm">
							<img src="images/5.jpg" alt=" " class="img-responsive" />
						</a>
						<div class="w3_gallery_grid1">
							<h4>sit amet faucibus</h4>
							<p>Sed mollis, tellus et imperdiet aliquet, turpis.</p>
						</div>
					</div>
					<div class="col-md-2 w3_gallery_grid">
						<a href="images/4.jpg" class="jzBoxLink" title="Cattle Farm">
							<img src="images/4.jpg" alt=" " class="img-responsive" />
						</a>
						<div class="w3_gallery_grid1">
							<h4>interdum sollicit</h4>
							<p>Sed mollis, tellus et imperdiet aliquet, turpis.</p>
						</div>
					</div>
					<div class="col-md-2 w3_gallery_grid">
						<a href="images/6.jpg" class="jzBoxLink" title="Cattle Farm">
							<img src="images/6.jpg" alt=" " class="img-responsive" />
						</a>
						<div class="w3_gallery_grid1">
							<h4>suscipit sapien</h4>
							<p>Sed mollis, tellus et imperdiet aliquet, turpis.</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				<script src="js/jzBox.js"></script>
		</div>
	</div>
<!-- //gallery -->
<!-- features -->
	<div class="features">
		<div class="container">
			<h3 class="head"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>Special Features</h3>
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Feature-1</a></li>
						<li role="presentation"><a href="#Feature1" role="tab" id="Feature1-tab" data-toggle="tab" aria-controls="Feature1">Feature-2</a></li>
						<li role="presentation"><a href="#Feature2" role="tab" id="Feature2-tab" data-toggle="tab" aria-controls="Feature2">Feature-3</a></li>
						<li role="presentation"><a href="#Feature3" role="tab" id="Feature3-tab" data-toggle="tab" aria-controls="Feature3">Feature-4</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
							<div class="w3agile_tabs">
								<div class="col-md-7 w3agile_tab_left">
									<h4>suscipit sapien nec interdum sollicitudin</h4>
									<p>Nunc faucibus lorem a arcu gravida, eget auctor eros 
										ultrices. Vestibulum non erat ut odio euismod accumsan. 
										Phasellus libero tellus, pulvinar vitae sem sit amet, 
										faucibus consectetur neque.</p>
									<ul>
										<li>pulvinar vitae sem sit amet</li>
										<li>faucibus consectetur neque</li>
										<li>erat odio euismod accumsan</li>
										<li>sapien nec interdum euismod</li>
										<li>Phasellus libero tellus sem</li>
										<li>gravida eget auctor eros</li>
									</ul>
								</div>
								<div class="col-md-5 w3agile_tab_right w3agile_tab_right1">
									<img src="images/7.jpg" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="Feature1" aria-labelledby="Feature1-tab">
							<div class="w3agile_tabs">
								<div class="col-md-5 w3agile_tab_right w3agile_tab_right2">
									<img src="images/8.jpg" alt=" " class="img-responsive" />
								</div>
								<div class="col-md-7 w3agile_tab_left">
									<h4>pulvinar vitae sem sit amet non erat ut</h4>
									<p>Nunc faucibus lorem a arcu gravida, eget auctor eros 
										ultrices. Vestibulum non erat ut odio euismod accumsan. 
										Phasellus libero tellus, pulvinar vitae sem sit amet, 
										faucibus consectetur neque.</p>
									<ul>
										<li>pulvinar vitae sem sit amet</li>
										<li>faucibus consectetur neque</li>
										<li>erat odio euismod accumsan</li>
										<li>sapien nec interdum euismod</li>
										<li>Phasellus libero tellus sem</li>
										<li>gravida eget auctor eros</li>
									</ul>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="Feature2" aria-labelledby="Feature2-tab">
							<div class="w3agile_tabs">
								<div class="col-md-7 w3agile_tab_left">
									<h4>faucibus consectetur neque sollicitudin</h4>
									<p>Nunc faucibus lorem a arcu gravida, eget auctor eros 
										ultrices. Vestibulum non erat ut odio euismod accumsan. 
										Phasellus libero tellus, pulvinar vitae sem sit amet, 
										faucibus consectetur neque.</p>
									<ul>
										<li>pulvinar vitae sem sit amet</li>
										<li>faucibus consectetur neque</li>
										<li>erat odio euismod accumsan</li>
										<li>sapien nec interdum euismod</li>
										<li>Phasellus libero tellus sem</li>
										<li>gravida eget auctor eros</li>
									</ul>
								</div>
								<div class="col-md-5 w3agile_tab_right w3agile_tab_right1">
									<img src="images/9.jpg" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="Feature3" aria-labelledby="Feature3-tab">
							<div class="w3agile_tabs">
								<div class="col-md-5 w3agile_tab_right w3agile_tab_right2">
									<img src="images/10.jpg" alt=" " class="img-responsive" />
								</div>
								<div class="col-md-7 w3agile_tab_left">
									<h4>gravida eget auctor eros libero tellus</h4>
									<p>Nunc faucibus lorem a arcu gravida, eget auctor eros 
										ultrices. Vestibulum non erat ut odio euismod accumsan. 
										Phasellus libero tellus, pulvinar vitae sem sit amet, 
										faucibus consectetur neque.</p>
									<ul>
										<li>pulvinar vitae sem sit amet</li>
										<li>faucibus consectetur neque</li>
										<li>erat odio euismod accumsan</li>
										<li>sapien nec interdum euismod</li>
										<li>Phasellus libero tellus sem</li>
										<li>gravida eget auctor eros</li>
									</ul>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
<!-- //features -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>About Us</h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="Send">
				</form>
			</div>
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Twitter Posts</h3>
				<ul class="w3agile_footer_grid_list">
					<li>Ut aut reiciendis voluptatibus maiores <a href="#">http://lkj.ewr.com</a> alias, ut aut reiciendis.
						<span>02 days ago</span></li>
					<li>Itaque earum rerum hic tenetur a sapiente delectus <a href="#">http://uiubajaj.com</a> ut aut
						voluptatibus.<span>03 days ago</span></li>
				</ul>
			</div>
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Social Media</h3>
				<ul class="agileinfo_social_icons">
					<li><a href="#" class="facebook"><span></span><i>-</i>Facebook</a></li>
					<li><a href="#" class="twitter"><span></span><i>-</i>Twitter</a></li>
					<li><a href="#" class="google"><span></span><i>-</i>Google+</a></li>
					<li><a href="#" class="instagram"><span></span><i>-</i>Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- copy-right -->
	<div class="w3agile_copy_right">
		<div class="container">
			 <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
		</div>
	</div>
<!-- //copy-right -->
<!-- for bootstrap working -->
	<script src="/front/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>