<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.2.0
Version: 1.0.0
Purchase: http://wrapbootstrap.com
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>后台管理系统-工器具管理</title>
    <meta name="description" content="data tables" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Basic Styles-->
    <link href="${base}/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="${base}/css/font-awesome.min.css" rel="stylesheet" />

    <!--Beyond styles-->
    <link id="beyond-link" href="${base}/css/beyond.min.css" rel="stylesheet" />
    <link href="${base}/css/demo.min.css" rel="stylesheet" />
    <link href="${base}/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    <link href="${base}/css/bootstrap-select.min.css" rel="stylesheet" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <style type="text/css">
        .page-container {
            display: block;
            /* margin-left: 224px; */
            margin-right: 0;
            margin-top: 0;
            min-height: 100%;
            padding: 0;
        }
        input[type=checkbox] {
            opacity: 1;
            position: relative;
            left: 0px;
            z-index: 12;
            width: 18px;
            height: 18px;
            cursor: pointer;
        }
        .black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 10%;
            left: 10%;
            width: 30%;
            height: 50%;
            border: 16px solid lightblue;
            background-color: white;
            z-index:1002;
            overflow: auto;
        }
        .white_content_small {
            display: none;
            position: absolute;
            top: 20%;
            left: 30%;
            width: 40%;
            height: 50%;
            border: 16px solid lightblue;
            background-color: white;
            z-index:1002;
            overflow: auto;
        }
    </style>
</head>
<!-- /Head -->
<!-- Body -->
<body>
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
                <!-- Page Body -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <div class="widget">
                                <div class="widget-header bordered-bottom bordered-palegreen">
                                    <span class="widget-caption">编辑工器具</span>
                                </div>
                                <div class="widget-body">
                                    <div>
                                        <form class="form-horizontal form-bordered" role="form" method="post" action="save" id="jvForm">
                                            <input type="hidden" name="id" value="${bean.id?if_exists}">
                                            <#if status??>
                                                <input type="hidden" name="status" value="${(status == 0) ? string('1', '0')}">
                                            </#if>
                                            <div class="form-group">
                                                <label for="name" class="col-sm-2 control-label no-padding-right">工器具名称</label>
                                                <div class="col-sm-10">
                                                    <#if status??>
                                                        <input type="text" readonly class="form-control" name="name" id="name" placeholder="" value="${bean.name?if_exists}">
                                                    <#else>
                                                        <input type="text" class="form-control" name="name" id="name" placeholder="" value="${bean.name?if_exists}">
                                                    </#if>
                                                </div>
                                            </div>
                                            <#if status??>
                                                <div class="form-group">
                                                    <label for="name" class="col-sm-2 control-label no-padding-right">${(status == 0) ? string('借用','归还')}时间</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" onfocus="WdatePicker({dateFmt : 'yyyy-MM-dd HH:mm', readOnly : true})" name="time" id="time" placeholder="" value="">
                                                    </div>
                                                </div>
                                                <#if status == 0>
                                                    <div class="form-group">
                                                        <label for="name" class="col-sm-2 control-label no-padding-right">借用事由</label>
                                                        <div class="col-sm-10">
                                                            <textarea cols="100" rows="10" name="reason" id="reason"></textarea>
                                                        </div>
                                                    </div>
                                                </#if>
                                                <div class="form-group">
                                                    <label for="name" class="col-sm-2 control-label no-padding-right">${(status == 0) ? string('借用','归还')}人</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" name="operator" id="operator" placeholder="" value="">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <a id="choosePerson" href="javascript:;" onclick="ShowDiv('MyDiv','fade')" class="btn btn-info">
                                                            <i class="fa fa-plus-square"></i>
                                                            选择班组人员
                                                        </a>
                                                    </div>
                                                </div>
                                                <#if status == 0>
                                                    <div class="form-group">
                                                        <label for="phone" class="col-sm-2 control-label no-padding-right">借用人电话</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="phone" id="phone" placeholder="" value="">
                                                        </div>
                                                    </div>
                                                </#if>
                                                <div class="form-group">
                                                    <label for="name" class="col-sm-2 control-label no-padding-right">审核人</label>
                                                    <div class="col-sm-10">
                                                        <select name="auditor" class="selectpicker" data-live-search="true">
                                                            <#list staff as bean>
                                                                <option value="${bean.name}">${bean.name}</option>
                                                            </#list>
                                                        </select>
                                                    </div>
                                                </div>
                                            </#if>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="button" class="btn btn-palegreen save">保存</button>
                                                    <button type="button" class="btn btn-info return">返回列表</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->
    </div>

    <!--弹出层时背景层DIV-->
    <div id="fade" class="black_overlay">
    </div>
    <div id="MyDiv" class="white_content">
        <div style="text-align: right; cursor: default; height: 40px;">
            <span style="font-size: 16px;cursor: pointer" onclick="CloseDiv('MyDiv','fade')"><i class="fn-delete"></i>关闭</span>
        </div>
        <div style="text-align: center;display: inline">
            <div class="form-group">
                <div class="col-sm-9">
                    请选择人员：
                    <select id="chooser" class="selectpicker" data-live-search="true">
                        <#list staff as bean>
                            <option data-phone="${bean.phone}" value="${bean.name}">${bean.name}</option>
                        </#list>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <input type="button" class="btn btn-info" onclick="sure();" value="确定">
                </div>
            </div>
        </div>
    </div>
</body>
<!--  /Body -->
<script type="application/javascript" src="${base}/js/jquery-2.0.3.min.js"></script>
<script type="application/javascript" src="${base}/js/jquery-form.js"></script>
<script type="application/javascript" src="${base}/js/layer.js"></script>
<script type="application/javascript" src="${base}/js/My97DatePicker/WdatePicker.js"></script>
<script type="application/javascript" src="${base}/js/bootstrap.min.js"></script>
<script type="application/javascript" src="${base}/js/bootstrap-select.min.js"></script>
<script type="application/javascript">

    //弹出隐藏层
    function ShowDiv(show_div,bg_div){
        document.getElementById(show_div).style.display='block';
        document.getElementById(bg_div).style.display='block' ;
        var bgdiv = document.getElementById(bg_div);
        bgdiv.style.width = document.body.scrollWidth;
// bgdiv.style.height = $(document).height();
        $("#"+bg_div).height($(document).height());
    };
    //关闭弹出层
    function CloseDiv(show_div,bg_div)
    {
        document.getElementById(show_div).style.display='none';
        document.getElementById(bg_div).style.display='none';
    };

    function preview(file) {
        $("#preview").empty();
        for (var i = 0;i < file.files.length;i++) {
            var reader = new FileReader();
            reader.onload = function (evt) {
                var img = '<img src=' + evt.target.result + ' width=200 height=200/> <input type="button" class="btn btn-info" value="上传" onclick="upload();">';
                $("#preview").append(img);
            }
            reader.readAsDataURL(file.files[i])
        }
    }

    function upload() {
        $("#fileForm").ajaxSubmit({
            success : function (result) {
                if (200 == result.status) {
                    $("#imgUrl").val(result.imgs[0]);
                    $("input[name=imgUrl]").val(result.imgs[0]);
                    layer.alert("上传成功！");
                }
                else
                    layer.alert("上传失败！");
            },
            error : function() {
                alert("error");
            }
        });
    }

    function sure() {
        var person = $("#chooser").find("option:selected").val();
        var phone = $("#chooser").find("option:selected").data("phone");
        $("#operator").val(person);
        $("#phone").val(phone);
        CloseDiv("MyDiv", "fade");
    }

    $(function () {
        $('.selectpicker').selectpicker({
            'selectedText': ''
        });
        var status = `${status}`;
        $("#operator").change(function () {
            var phone = $(this).find("option:selected").data("phone");
            $("#phone").val(phone);
        });
        $(".return").click(function () {
            location.href = "${base}/admin/tools";
        });
        $("#imgUrl").click(function () {
            $("#fileUpload").click();
        });
        $(".save").click(function () {
            if ("" == $("input[name=name]").val()) {
                layer.alert("请输入工器具名称!");
                return;
            }
            if (0 == status) {
                if ("" == $("input[name=time]").val()) {
                    layer.alert("请选择归还时间!");
                    return;
                }
            }
            else if (1 == status) {
                if ("" == $("input[name=time]").val()) {
                    layer.alert("请选择借用时间!");
                    return;
                }
                if ("" == $("input[name=reason]").val()) {
                    layer.alert("请填写借用事由!");
                    return;
                }
                if ("" == $("input[name=phone]").val()) {
                    layer.alert("请填写借用人电话!");
                    return;
                }
            }
            $("#jvForm").submit();
        });
    });
</script>
</html>
