<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.2.0
Version: 1.0.0
Purchase: http://wrapbootstrap.com
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统-内容管理</title>
    <% include ../common/style.ejs %>
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet"/>
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <style type="text/css">
        .page-container {
            display: block;
            /* margin-left: 224px; */
            margin-right: 0;
            margin-top: 0;
            min-height: 100%;
            padding: 0;
        }

        input[type=checkbox] {
            opacity: 1;
            position: relative;
            left: 0px;
            z-index: 12;
            width: 18px;
            height: 18px;
            cursor: pointer;
        }

        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 10%;
            left: 10%;
            width: 30%;
            height: 50%;
            border: 16px solid lightblue;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }

        .white_content_small {
            display: none;
            position: absolute;
            top: 20%;
            left: 30%;
            width: 40%;
            height: 50%;
            border: 16px solid lightblue;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }
    </style>
</head>
<!-- /Head -->
<!-- Body -->
<body>
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Body -->
        <div class="page-body">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-palegreen">
                            <span class="widget-caption">新增</span>
                        </div>
                        <div class="widget-body">
                            <div>
                                <form class="form-horizontal form-bordered" role="form" method="post"
                                      action="/admin/content" id="jvForm">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label no-padding-right">栏目</label>

                                        <div class="col-sm-6">
                                            <select name="channelId" class="selectpicker" data-live-search="true">
                                                <% if (channels) {
                                                channels.forEach(function (bean) { %>
                                                <option value="<%= bean.id %>"><%= bean.name %></option>
                                                <% })
                                                } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="title" class="col-sm-2 control-label no-padding-right">标题</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="title" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="shortTitle"
                                               class="col-sm-2 control-label no-padding-right">简短标题</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="shortTitle" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description"
                                               class="col-sm-2 control-label no-padding-right">摘要</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="description" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="author"
                                               class="col-sm-2 control-label no-padding-right">作者</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="author" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="link"
                                               class="col-sm-2 control-label no-padding-right">外部链接</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="link" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="origin"
                                               class="col-sm-2 control-label no-padding-right">来源</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="origin" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="content"
                                               class="col-sm-2 control-label no-padding-right">内容</label>
                                        <div class="col-sm-10">
                                            <input type="hidden" class="form-control" name="txt" value="">
                                            <script id="editor" type="text/plain" style="width:100%;height:500px;"></script>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="content"
                                               class="col-sm-2 control-label no-padding-right">图片</label>
                                        <div class="col-sm-6">
                                            <input type="file" class="form-control" name="picture" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-palegreen save">保存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Body -->
    </div>
    <!-- /Page Content -->
</div>
<!-- /Page Container -->
<!-- Main Container -->
</div>

</body>

<!--  /Body -->
<% include ../common/scripts.ejs %>
<script type="application/javascript" src="/javascripts/bootstrap-select.min.js"></script>
<script type="application/javascript" src="/javascripts/jquery-form.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="application/javascript" src="/javascripts/jquery.base64.js"></script>
<script type="application/javascript">
    var ue = UE.getEditor('editor');
    $(function () {
        $('.selectpicker').selectpicker({
            'selectedText': ''
        });
        $(".return").click(function () {
            location.href = "/admin/menu/manage";
        });
        $(".save").click(function () {
            if ("" == $('input[name=name]').val() || "" == $('input[name=channelPath]').val()) {
                layer.alert('请填写完相关数据');
                return;
            }
            $("input[name=txt]").val($.base64.encode(ue.getContent()));
            $("#jvForm").ajaxSubmit({
                success: function (result) {
                    if (200 == result.code) {
                        let i = layer.alert("操作成功!", function () {
                            window.parent.reloadContent();
                            layer.closeAll();
                        });
                    }
                    else {
                        layer.alert(result.msg);
                    }
                }
            });
        });
    });
</script>
</html>
